build
!scripts/build
vs2015-win64
vs2015_win32
vs2022-win64
vs2022_win32
gcc_build
*.pro.user
!*.bat
**.bak
*.FCBak
*.3mf
**/.x64
**/.vs
*.suo
*.db
*.cache
*.user
*.usersettings
**.recipe
*.pdb
__pycache__
untracked/*
CMakeError.log
software/jackal/jackal
software/jackal/x64
